{# templates/client/login.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Page de connexion{% endblock %}

{% block body %}
    <h1>Connexion</h1>

    <form action="{{ path('app_login') }}" method="post">
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="_username" required>
        </div>
        <div>
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="_password" required>
        </div>
        <div>
            <button type="submit">Se connecter</button>
        </div>
    </form>
{% endblock %}
